@page "{id:int?}"
@model MegaDesk.Pages.Quotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<article class="quoteTable">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Quote</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quote.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.width)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.width)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.depth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.depth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.numDrawers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.numDrawers)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.surfaceMat)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.surfaceMat)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.rushOrd)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.rushOrd)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.DateAdded)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.DateAdded)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Quote.ID" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</article>