@page "{id:int?}"
@model MegaDesk.Pages.Quotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Quote</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quote.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.width)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.width)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.depth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.depth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.numDrawers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.numDrawers)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.surfaceMat)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.surfaceMat)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.rushOrd)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.rushOrd)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quote.DateAdded)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quote.DateAdded)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Quote.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>